# Data files
data/raw/*
data/processed/*
data/omop_vocab/
!data/raw/.gitkeep
!data/processed/.gitkeep
*.sas7bdat
*.csv
*.duckdb

# Python and Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints

# Environments
.env

# Logs
logs/
*.log